body{
    background-color: lightpink;
    margin: 0 1rem;
}

h1{
    text-align: center;
    text-decoration: underline;
}

ul{
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
li{
    margin-bottom: 10px;
    text-align: center;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}